body{
  color: white !important;
}
.logo{
    width: 200px;
    height: 60px;
    border-radius: 0px;
}  

header{
  position:fixed; top:0px;
  left:0px; right:0px; 
  height:70px;
  padding: 24px 10px 39px 10px;
  z-index: 1;
}

nav{
  padding-bottom: 50px;
}

.link{
  font-weight: bold;
  text-decoration: none;
  font-family: monospace;
  color: black;
  font-size: 20px;
}

.link:hover{
  color: #ee0000;
  text-decoration: none;
  transform: translate(0px, -50px);
}

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 45px;
    
    
  }
  
  section {
    flex-basis: 70%;
    padding: 1rem;
  }
  
.pilots{
    flex-basis: 40%;
    padding: 1rem;
  }

  aside {
    flex-basis: 30%;
    padding: 1rem;
  }

.gallery{
    margin-bottom: 50px;
  }
  * {box-sizing:border-box}

  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {
    border-radius: 20px;
    vertical-align: middle;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    opacity: 100 !important;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
.article {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ff0000;
    border-radius: 4px;
  }
  
  h2 {
    margin-top: 0;
    margin-left: 35px;
  }

  h3{
    color: black !important;
  }

  p{
    color: black;
    margin-left: 35px !important;
  }

  .footer{
    margin-left: -15px;
    margin-right: -15px;
  }

  



.f1-standings .f1-podium {
    margin: 0 -10px 0 -10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f3f3;
}
.f1-podium {
    counter-reset: podium;
    list-style-type: none;
    padding: 0;
}
.f1-color--carbonBlack {
    color: #15151e;
}
.f1-podium--item {
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 5px 10px;
}



.f1-standings{
    padding: 10px 5px 10px 10px;
    transition: .4s cubic-bezier(.35,.15,.6,1);
    width: 100%;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    padding: 15px;
}

.f1-podium--link {
  padding: 10px 5px 10px 10px;
  transition: .4s cubic-bezier(.35,.15,.6,1);
  width: 100%;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  padding: 15px;
}

.f1-bg--white {
    background-color: #c5b2b2;
}
.f1-standings .f1-podium--rank {
    position: relative;
    top: 1px;
    text-align: right;
    width: 20px;
}

.f1-podium--rank {
  position: relative;
  top: 1px;
  text-align: right;
  width: 20px;
}

.f1-bold--xs {
    font-family: F1Bold;
    font-size: 14px;
    line-height: 17px;
}

.f1-standings .f1-podium .team-color-icon {
  width: 4px;
  height: 14px;
  margin: 0 10px;
}

.f1-podium-subdetail {
  margin-left: 10px;
}

.team-color-icon {
  width: 4px;
  height: 14px;
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}

.f1--xs {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
* {
  box-sizing: border-box;
}

.f1-capitalize {
  text-transform: capitalize;
}
.d-md-inline {
  display: inline!important;
}

.f1-podium--surname {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 14px;
  line-height: 17px;
}
.f1-uppercase {
  text-transform: uppercase;
}

.f1-standings .f1-podium--link .f1-podium-subdetail {
  margin-left: 10px;
}
.f1-capitalize {
  text-transform: capitalize;
}
.misc--label {
  font-family: "Titillium Web";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: .5px;
  font-weight: 400;
}
.f1-color--gray5 {
  color: #67676d;
}

.f1-standings .f1-podium-right {
  margin-left: auto;
}


.f1-podium-right {
  margin-left: auto;
}


.f1-standings .f1-podium--time {
    margin-left: 10px;
}
.f1-standings .f1-podium--time {
    margin-left: 5px;
    display: inline;
}

.f1-podium--time {
    margin-left: auto;
    min-width: 95px;
    text-align: center;
}
.f1-podium--surname {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.text-semi-bold {
    font-weight: 600;
}
.f1-label {
    border-radius: 15px;
    line-height: 1;
    display: table;
    padding: 2px 10px;
    width: auto;
}
.misc--label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .5px;
    font-weight: 400;
}
.f1-bg--gray2 {
    background-color: #ededed;
}

.f1-standings .f1-podium--link .icon-chevron-right {
  margin-left: 5px;
  font-size: 16px;
  vertical-align: -2px;
}
.f1-color--warmRed, .f1-tv-subscribe .f1-live--details-features li .circleList, .stf1-feature-listing .stf1-plan--details-features li .circleList {
  color: #e10600;
}
.icon, .link-list--items.keyfacts-list li a::after, .nav-mobile-header .nav-burger button.close, .nav-mobile-header .nav-burger button.open, .page-assembly-banner-video .close-btn {
  font-family: icomoon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f1-footer {
  background: #15151e;
  color: #fff;
  padding-bottom: 20px;
}

.container {
  max-width: 1320px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.f1-footer {
  margin-bottom: 50px;
}

.footer-partners {
  margin-bottom: 50px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.f1-footer {
  padding: 0 15px;
}

.primary-partners {
  padding: 0 15px;
}

.footerli{
  margin: 30px;
}

.animation{
  position: relative;
  animation-name: example;
  animation-duration: 8s;
  animation-delay: 2s;
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  25%  {left:400px; top:0px;}
  25%  {left:600px; top:0px;}
  25%  {left:800px; top:0px;}
  25%  {left:1000px; top:0px;}
  25%  {left:1200px; top:0px;}
  25%  {left:1400px; top:0px;}
  25%  {left:1600px; top:0px;}
  75%  {left:10px; top:0px;}
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-items: center;
}
.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin: 15px;
}
.card h4 {
  margin: 0;
  padding: 0 1rem;
  color: #000000;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: #093f35;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
  color: #000000;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #000000 100%);
  top: 15px;
  left: 85px;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url(formula1.png);
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
  &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  }
}
.ilk{
  margin-top: 70px ;
}

.neon{
  color: #e90e0e;
  text-shadow:
  0 0 5px #e90e0e,
  0 0 10px #e90e0e,
  0 0 20px #e90e0e,
  0 0 40px #e90e0e;
}

.haberler{
  background-color: white;
  margin: 50px;
  border-radius: 22px;
}

.metin{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #000000;
  margin: 5px !important;
}